.fb-accounts-module-view-reset-password {
	&__processing {
		text-align: center;

		.fb-ui-spinner__container {
			height: 48px;
			width: 48px;
			position: relative;
			display: inline-block;
			margin: 15px auto;
		}

		strong {
			display: block;
		}
	}

	&__info {
		text-align: center;
	}
}
