#
# Plugin DI configuration
#
# @license       More in LICENSE.md
# @copyright     https://www.fastybird.com
# @author        Adam Kadlec <adam.kadlec@fastybird.com>
# @package       FastyBird:ApiKeyPlugin!
# @subpackage    config
# @since         0.1.0
#
# @date          21.10.22

php:
    date.timezone: Europe/Prague

extensions:
    fbJsonApi   : FastyBird\JsonApi\DI\JsonApiExtension
