includes:
    - phpstan.base.neon

    - ../src/FastyBird/Automator/DateTime/tools/phpstan.config.src.neon
    - ../src/FastyBird/Automator/DevicesModule/tools/phpstan.config.src.neon

    - ../src/FastyBird/Bridge/RedisDbDevicesModule/tools/phpstan.config.src.neon
    - ../src/FastyBird/Bridge/RedisDbTriggersModule/tools/phpstan.config.src.neon
    - ../src/FastyBird/Bridge/RedisExchangeDevicesModule/tools/phpstan.config.src.neon
    - ../src/FastyBird/Bridge/RedisExchangeTriggersModule/tools/phpstan.config.src.neon
    - ../src/FastyBird/Bridge/RedisExchangeWsExchange/tools/phpstan.config.src.neon
    - ../src/FastyBird/Bridge/WsExchangeDevicesModule/tools/phpstan.config.src.neon

    - ../src/FastyBird/Connector/FbMqtt/tools/phpstan.config.src.neon
    - ../src/FastyBird/Connector/HomeKit/tools/phpstan.config.src.neon
    - ../src/FastyBird/Connector/Modbus/tools/phpstan.config.src.neon
    - ../src/FastyBird/Connector/Shelly/tools/phpstan.config.src.neon
    - ../src/FastyBird/Connector/Tuya/tools/phpstan.config.src.neon

    - ../src/FastyBird/Library/Bootstrap/tools/phpstan.config.src.neon
    - ../src/FastyBird/Library/Exchange/tools/phpstan.config.src.neon
    - ../src/FastyBird/Library/Metadata/tools/phpstan.config.src.neon

    - ../src/FastyBird/Module/Accounts/tools/phpstan.config.src.neon
    - ../src/FastyBird/Module/Devices/tools/phpstan.config.src.neon
    - ../src/FastyBird/Module/Triggers/tools/phpstan.config.src.neon

    - ../src/FastyBird/Plugin/ApiKey/tools/phpstan.config.src.neon
    - ../src/FastyBird/Plugin/CouchDb/tools/phpstan.config.src.neon
    - ../src/FastyBird/Plugin/RabbitMq/tools/phpstan.config.src.neon
    - ../src/FastyBird/Plugin/RedisDb/tools/phpstan.config.src.neon
    - ../src/FastyBird/Plugin/WebServer/tools/phpstan.config.src.neon
    - ../src/FastyBird/Plugin/WsExchange/tools/phpstan.config.src.neon

parameters:
    level: max
    resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

    bootstrapFiles:
        - phpstan-bootstrap.php

    stubFiles:
        - ../tests/stubs/PromiseInterface.stub
        - ../tests/stubs/ExtendedPromiseInterface.stub
        - ../tests/stubs/BaseLinkInterface.stub
        - ../tests/stubs/ContextInterface.stub
        - ../tests/stubs/LinkInterface.stub
        - ../tests/stubs/PositionInterface.stub
        - ../tests/stubs/SchemaInterface.stub
        - ../tests/stubs/RedisClient.stub
        - ../tests/stubs/EventEmitterInterface.stub
