includes:
    - phpstan.base.neon

    - ../src/FastyBird/Automator/DateTime/tools/phpstan.config.src.neon
    - ../src/FastyBird/Automator/DevicesModule/tools/phpstan.config.src.neon

    - ../src/FastyBird/Bridge/DevicesModuleUiModule/tools/phpstan.config.src.neon
    - ../src/FastyBird/Bridge/RedisDbPluginDevicesModule/tools/phpstan.config.src.neon
    - ../src/FastyBird/Bridge/RedisDbPluginTriggersModule/tools/phpstan.config.src.neon
    - ../src/FastyBird/Bridge/VirtualThermostatAddonHomeKitConnector/tools/phpstan.config.src.neon

    - ../src/FastyBird/Connector/FbMqtt/tools/phpstan.config.src.neon
    - ../src/FastyBird/Connector/HomeKit/tools/phpstan.config.src.neon
    - ../src/FastyBird/Connector/Modbus/tools/phpstan.config.src.neon
    - ../src/FastyBird/Connector/NsPanel/tools/phpstan.config.src.neon
    - ../src/FastyBird/Connector/Shelly/tools/phpstan.config.src.neon
    - ../src/FastyBird/Connector/Sonoff/tools/phpstan.config.src.neon
    - ../src/FastyBird/Connector/Tuya/tools/phpstan.config.src.neon
    - ../src/FastyBird/Connector/Viera/tools/phpstan.config.src.neon
    - ../src/FastyBird/Connector/Virtual/tools/phpstan.config.src.neon
    - ../src/FastyBird/Connector/Zigbee2Mqtt/tools/phpstan.config.src.neon

    - ../src/FastyBird/Library/Application/tools/phpstan.config.src.neon
    - ../src/FastyBird/Library/Exchange/tools/phpstan.config.src.neon
    - ../src/FastyBird/Library/Metadata/tools/phpstan.config.src.neon
    - ../src/FastyBird/Library/Tools/tools/phpstan.config.src.neon

    - ../src/FastyBird/Module/Accounts/tools/phpstan.config.src.neon
    - ../src/FastyBird/Module/Devices/tools/phpstan.config.src.neon
    - ../src/FastyBird/Module/Triggers/tools/phpstan.config.src.neon
    - ../src/FastyBird/Module/Ui/tools/phpstan.config.src.neon

    - ../src/FastyBird/Plugin/ApiKey/tools/phpstan.config.src.neon
    - ../src/FastyBird/Plugin/CouchDb/tools/phpstan.config.src.neon
    - ../src/FastyBird/Plugin/RabbitMq/tools/phpstan.config.src.neon
    - ../src/FastyBird/Plugin/RedisDb/tools/phpstan.config.src.neon
    - ../src/FastyBird/Plugin/RedisDbCache/tools/phpstan.config.src.neon
    - ../src/FastyBird/Plugin/WebServer/tools/phpstan.config.src.neon
    - ../src/FastyBird/Plugin/WsServer/tools/phpstan.config.src.neon

    - ../src/FastyBird/Addon/VirtualThermostat/tools/phpstan.config.src.neon

    - ../app/tools/phpstan.config.src.neon

parameters:
    level: max
    resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.src.php

    bootstrapFiles:
        - phpstan-bootstrap.php

    stubFiles:
        - ../tests/stubs/BaseLinkInterface.stub
        - ../tests/stubs/ContextInterface.stub
        - ../tests/stubs/LinkInterface.stub
        - ../tests/stubs/PositionInterface.stub
        - ../tests/stubs/SchemaInterface.stub
        - ../tests/stubs/RedisClient.stub
        - ../tests/stubs/EventEmitterInterface.stub
