includes:
    - phpstan.base.neon

    - ../src/FastyBird/Automator/DateTime/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Automator/DevicesModule/tools/phpstan.config.tests.neon

    - ../src/FastyBird/Bridge/RedisDbPluginDevicesModule/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Bridge/RedisDbPluginTriggersModule/tools/phpstan.config.tests.neon

    - ../src/FastyBird/Connector/FbMqtt/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Connector/HomeKit/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Connector/Modbus/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Connector/NsPanel/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Connector/Shelly/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Connector/Sonoff/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Connector/Tuya/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Connector/Viera/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Connector/Virtual/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Connector/Zigbee2Mqtt/tools/phpstan.config.tests.neon

    - ../src/FastyBird/Library/Application/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Library/Exchange/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Library/Metadata/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Library/Tools/tools/phpstan.config.tests.neon

    - ../src/FastyBird/Module/Accounts/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Module/Devices/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Module/Triggers/tools/phpstan.config.tests.neon

    - ../src/FastyBird/Plugin/ApiKey/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Plugin/CouchDb/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Plugin/RabbitMq/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Plugin/RedisDb/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Plugin/WebServer/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Plugin/WsServer/tools/phpstan.config.tests.neon

    - ../src/FastyBird/Addon/VirtualThermostatDevice/tools/phpstan.config.tests.neon

parameters:
    level: max

    resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.tests.php

    bootstrapFiles:
        - phpstan-bootstrap.php

    ignoreErrors:
        - message: '#^Return type of call to method PHPUnit\\Framework\\TestCase::createMock\(\) contains unresolvable type.#'
