includes:
    - phpstan.base.neon

    - ../src/FastyBird/Connector/FbMqtt/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Connector/HomeKit/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Connector/Modbus/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Connector/Shelly/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Connector/Tuya/tools/phpstan.config.tests.neon

    - ../src/FastyBird/Library/Exchange/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Library/Metadata/tools/phpstan.config.tests.neon

    - ../src/FastyBird/Module/Devices/tools/phpstan.config.tests.neon

    - ../src/FastyBird/Plugin/RedisDb/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Plugin/WebServerPlugin/tools/phpstan.config.tests.neon
    - ../src/FastyBird/Plugin/WsExchangePlugin/tools/phpstan.config.tests.neon

parameters:
    level: max

    resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.tests.php

    bootstrapFiles:
        - phpstan-bootstrap.php

    ignoreErrors:
        - message: '#^Return type of call to method PHPUnit\\Framework\\TestCase::createMock\(\) contains unresolvable type.#'
