<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="./phpunit-bootstrap.php"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         stderr="true"
         cacheDirectory="../var/tools/PHPUnit/.phpunit.cache"
>
    <testsuite name="all">
        <directory>../src/FastyBird/Automator/**/tests/cases/</directory>
        <directory>../src/FastyBird/Bridge/**/tests/cases/</directory>
        <directory>../src/FastyBird/Connector/**/tests/cases/</directory>
        <directory>../src/FastyBird/Library/**/tests/cases/</directory>
        <directory>../src/FastyBird/Module/**/tests/cases/</directory>
        <directory>../src/FastyBird/Plugin/**/tests/cases/</directory>
    </testsuite>
    <coverage cacheDirectory="../var/tools/PHPUnit/coverage">
        <include>
            <directory suffix=".php">../src/FastyBird/Automator/**/tests/cases/</directory>
            <directory suffix=".php">../src/FastyBird/Bridge/**/tests/cases/</directory>
            <directory suffix=".php">../src/FastyBird/Connector/**/tests/cases/</directory>
            <directory suffix=".php">../src/FastyBird/Library/**/tests/cases/</directory>
            <directory suffix=".php">../src/FastyBird/Module/**/tests/cases/</directory>
            <directory suffix=".php">../src/FastyBird/Plugin/**/tests/cases/</directory>
        </include>
        <exclude>
            <directory>./src/FastyBird/Automator/**/tests</directory>
            <directory>./src/FastyBird/Bridge/**/tests</directory>
            <directory>./src/FastyBird/Connector/**/tests</directory>
            <directory>./src/FastyBird/Library/**/tests</directory>
            <directory>./src/FastyBird/Module/**/tests</directory>
            <directory>./src/FastyBird/Plugin/**/tests</directory>
        </exclude>
    </coverage>
</phpunit>
