#
# Plugin translations
#
# @language       en_US
#
# @license        More in LICENSE.md
# @copyright      https://www.fastybird.com
# @author         Adam Kadlec <adam.kadlec@fastybird.com>
# @package        FastyBird:ApiKeyPlugin!
# @subpackage     Translations
# @since          0.1.0
#
# @date           21.10.22
#

base:
    messages:
        unauthorized:
            heading	: "Not authorized"
            message	: "You are not authorized to perform this action"
